:root {
  --color-bg: #0f0f10;
  --color-surface: #1a1a1d;
  --color-primary: #fe0032;
  --color-success: #36a754;   /* activo ✅ */
  --color-text: #ffffff;
  --color-text-muted: #a1a1aa;
  --color-border: #2a2a2e;
  --color-accent: #ffccd5;   /* acentos suaves */
  --color-surface-soft: #222226;

  --radius: 6px;

  

  --font-family-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}